body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #1e6091;
}

h1{
    color: #9b5151;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}

#test{
    font-weight: normal;
    color: #9b5151;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

h2{
    font-weight: normal;
    color: #9b5151;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}


h3{
    font-family: 'Montserrat', sans-serif;
    color: #AA9A31;
}

.top-container{
    background-color: #f5d782;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{

}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.skill-img{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.certif-img{
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}


.hr-color{
    color: #f5d782;
}

.color-h{
    color: #AA9A31;
    
}

.desing-p{
    color: whitesmoke;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.intro{
    width: 30%;
    margin: auto;
    color: whitesmoke;
    font-size: 1.2rem;
}



.top-cloud{
    position: absolute;
    right:300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.btn {
    background: #f5d782;
    background-image: -webkit-linear-gradient(top, #f5d782, #f5d782);
    background-image: -moz-linear-gradient(top, #f5d782, #f5d782);
    background-image: -ms-linear-gradient(top, #f5d782, #f5d782);
    background-image: -o-linear-gradient(top, #f5d782, #f5d782);
    background-image: linear-gradient(to bottom, #f5d782, #f5d782);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #9b5151;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #94e0e3;
    text-decoration: none;
  }


  .bottom-container{
      background-color: #AA9A31;
      padding: 50px 0 20px;
  }

  a{
      color: black;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
  }

  a:hover{
      color: whitesmoke;
  }


  .marasel{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 0;
  }



  

